/* bootstap.css fix for ui-bootstrap */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
/* // bootstap.css fix for ui-bootstrap */

.city-selector {
  margin-bottom: 20px;
}

.container {
  width: 420px;
}